<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JSOrtegaB/blob/main/Actividad_Semanal_6_Visualizacion_JuanSebastianOrtegaBriones_A01794327.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad Semanal 6, visualización

## Ciencia y analítica de datos

### Profesor:  María de la Paz Rico Fernández

###Juan Sebastian Ortega Briones A01794327

# Parte 1: Fundamentos de bases de datos

# Parte 2

Se importan las dependencias

In [2]:
import pandas as pd
import numpy as np

Se lee el archivo de datos

In [82]:
df=pd.read_csv("https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv")

Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()

[Descripción de los datos](https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt)

In [83]:
pd.set_option("display.max_columns", 25)
df.head(5)

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [84]:
df.shape

(30000, 25)

In [85]:
df.columns

Index(['ID', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20',
       'X21', 'X22', 'X23', 'Y'],
      dtype='object')

In [86]:
df.dtypes

ID       int64
X1       int64
X2     float64
X3     float64
X4     float64
X5     float64
X6     float64
X7     float64
X8     float64
X9     float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23    float64
Y      float64
dtype: object

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      29999 non-null  float64
 3   X3      29998 non-null  float64
 4   X4      29998 non-null  float64
 5   X5      29995 non-null  float64
 6   X6      29997 non-null  float64
 7   X7      29995 non-null  float64
 8   X8      29993 non-null  float64
 9   X9      29991 non-null  float64
 10  X10     29984 non-null  float64
 11  X11     29986 non-null  float64
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

In [95]:
df[df.isna().any(axis=1)]

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
18,19,360000,2.0,1.0,1.0,49.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,39,50000,1.0,1.0,2.0,25.0,1.0,-1.0,-1.0,-2.0,-2.0,-2.0,0.0,780.0,0.0,0.0,0.0,NaN,780.0,0.0,0.0,0.0,0.0,0.0,1.0
49,50,20000,1.0,1.0,2.0,24.0,0.0,0.0,0.0,0.0,NaN,0.0,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,1318.0,1315.0,704.0,928.0,912.0,1069.0,0.0
64,65,130000,2.0,2.0,1.0,51.0,-1.0,-1.0,-2.0,-2.0,-1.0,-1.0,99.0,0.0,0.0,0.0,2353.0,0.0,0.0,NaN,0.0,2353.0,0.0,0.0,0.0
160,161,30000,1.0,1.0,2.0,41.0,2.0,2.0,2.0,NaN,2.0,0.0,24357.0,27453.0,26718.0,28168.0,27579.0,28321.0,3500.0,0.0,2200.0,NaN,1200.0,1250.0,0.0
173,174,50000,2.0,1.0,2.0,24.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,-709.0,-709.0,-709.0,-2898.0,-3272.0,-3272.0,0.0,0.0,0.0,NaN,0.0,0.0,1.0
175,176,130000,1.0,3.0,1.0,56.0,1.0,2.0,2.0,2.0,2.0,3.0,64617.0,65978.0,67282.0,68557.0,NaN,71345.0,3000.0,3000.0,3000.0,5500.0,0.0,0.0,1.0
182,183,500000,2.0,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,56422.0,110616.0,110340.0,122967.0,108834.0,70064.0,70010.0,30357.0,30000.0,20000.0,52183.0,20000.0,0.0
219,220,310000,2.0,1.0,2.0,NaN,-1.0,-1.0,-1.0,-1.0,-2.0,-2.0,1424.0,4542.0,126.0,0.0,0.0,0.0,4542.0,126.0,0.0,0.0,0.0,0.0,0.0
233,234,190000,1.0,2.0,2.0,34.0,2.0,0.0,0.0,0.0,NaN,2.0,129801.0,131383.0,134379.0,142323.0,140120.0,150052.0,5000.0,5000.0,10000.0,0.0,12118.0,2769.0,1.0
239,240,140000,2.0,2.0,3.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,19346.0,21708.0,22940.0,19068.0,16409.0,16383.0,3000.0,2000.0,2198.0,1000.0,3000.0,2399.0,1.0
240,241,60000,2.0,1.0,2.0,28.0,1.0,2.0,2.0,-2.0,-2.0,-1.0,21501.0,20650.0,0.0,0.0,NaN,2285.0,0.0,0.0,0.0,0.0,2285.0,0.0,0.0
245,246,20000,2.0,2.0,2.0,40.0,0.0,0.0,0.0,0.0,0.0,-2.0,19816.0,20396.0,20102.0,19575.0,0.0,0.0,1601.0,2203.0,2114.0,NaN,NaN,0.0,0.0
246,247,250000,2.0,2.0,1.0,75.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,52874.0,1631.0,1536.0,1010.0,5572.0,794.0,1631.0,1536.0,1010.0,5572.0,NaN,NaN,0.0
247,248,100000,2.0,2.0,2.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,37767.0,34457.0,30036.0,30337.0,30997.0,32904.0,1788.0,1799.0,1100.0,1150.0,2423.0,NaN,0.0
6227,6228,30000,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21120.0,1586.0,1365.0,1663.0,5106.0,1050.0,0.0,0.0
6232,6233,60000,2.0,2.0,2.0,29.0,2.0,2.0,2.0,0.0,0.0,0.0,41387.0,42117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6268,6269,120000,1.0,2.0,2.0,29.0,1.0,2.0,0.0,0.0,NaN,NaN,87376.0,85135.0,86024.0,91380.0,93263.0,95079.0,0.0,3200.0,6800.0,3500.0,3500.0,0.0,1.0
6269,6270,400000,2.0,1.0,2.0,27.0,1.0,-2.0,-1.0,0.0,NaN,NaN,140.0,140.0,12527.0,12640.0,14805.0,238.0,140.0,12527.0,253.0,2305.0,238.0,238.0,0.0
6270,6271,50000,2.0,1.0,1.0,55.0,0.0,0.0,0.0,0.0,NaN,NaN,25043.0,26411.0,27451.0,19431.0,19837.0,20232.0,1775.0,1815.0,695.0,719.0,724.0,750.0,0.0
6276,6277,30000,1.0,3.0,1.0,32.0,0.0,0.0,0.0,0.0,0.0,-1.0,28292.0,30494.0,28317.0,NaN,NaN,1400.0,3000.0,1431.0,483.0,0.0,700.0,0.0,0.0
6277,6278,110000,2.0,1.0,2.0,32.0,1.0,2.0,0.0,0.0,0.0,2.0,58679.0,56871.0,56279.0,NaN,NaN,25453.0,1210.0,2056.0,1200.0,2300.0,0.0,1000.0,1.0
6278,6279,20000,2.0,3.0,2.0,54.0,0.0,0.0,2.0,2.0,2.0,0.0,9777.0,10140.0,9360.0,NaN,NaN,9116.0,2000.0,1000.0,1000.0,0.0,500.0,500.0,0.0
6382,6383,80000,2.0,2.0,1.0,30.0,1.0,2.0,0.0,0.0,NaN,NaN,82891.0,80997.0,81380.0,75374.0,77158.0,78710.0,0.0,3299.0,2699.0,3000.0,2987.0,3100.0,0.0
6383,6384,90000,1.0,2.0,2.0,29.0,0.0,0.0,0.0,0.0,NaN,NaN,86294.0,88412.0,89853.0,69362.0,70537.0,56775.0,4400.0,4111.0,2100.0,2200.0,2510.0,2000.0,0.0
6384,6385,20000,2.0,2.0,2.0,22.0,0.0,0.0,0.0,0.0,NaN,NaN,17807.0,18520.0,39053.0,20055.0,19606.0,19925.0,1298.0,1909.0,1666.0,5000.0,703.0,775.0,0.0
17989,17990,80000,1.0,2.0,1.0,46.0,0.0,0.0,NaN,0.0,0.0,0.0,79707.0,79876.0,79919.0,64237.0,47890.0,48036.0,3542.0,3500.0,2500.0,2000.0,2500.0,2000.0,0.0
17990,17991,50000,1.0,3.0,2.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,94962.0,49032.0,NaN,50269.0,29182.0,29096.0,4200.0,2200.0,3300.0,1200.0,1100.0,1100.0,0.0
18003,18004,70000,1.0,2.0,2.0,33.0,1.0,2.0,NaN,7.0,7.0,6.0,26181.0,37611.0,37026.0,38922.0,38318.0,38133.0,12000.0,0.0,2500.0,0.0,1000.0,1500.0,0.0
23943,23944,20000,1.0,2.0,2.0,24.0,0.0,0.0,2.0,3.0,2.0,2.0,14068.0,16706.0,18342.0,17755.0,17967.0,17538.0,3200.0,2200.0,0.0,800.0,NaN,1401.0,0.0
23990,23991,60000,1.0,2.0,2.0,26.0,0.0,0.0,0.0,NaN,0.0,0.0,59487.0,59199.0,59326.0,58938.0,30101.0,29735.0,2113.0,2500.0,3000.0,2500.0,1500.0,1100.0,0.0
23991,23992,50000,1.0,3.0,2.0,25.0,0.0,0.0,0.0,NaN,2.0,2.0,47727.0,45926.0,47095.0,49485.0,49083.0,45187.0,2100.0,2200.0,3500.0,2000.0,0.0,5151.0,0.0
23992,23993,50000,1.0,2.0,2.0,24.0,0.0,0.0,0.0,NaN,0.0,0.0,46521.0,47597.0,48799.0,41286.0,16764.0,16960.0,2150.0,2352.0,1239.0,717.0,585.0,589.0,0.0
24123,24124,50000,1.0,1.0,2.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,360.0,0.0
24365,24366,130000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390.0,0.0
29733,29734,300000,1.0,2.0,1.0,37.0,-2.0,-2.0,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3081.0,0.0
29734,29735,500000,1.0,2.0,1.0,49.0,-1.0,-1.0,2.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237.0,1.0
29735,29736,50000,1.0,3.0,1.0,40.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,406.0,1.0
29824,29825,40000,1.0,1.0,1.0,47.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29825,29826,50000,1.0,2.0,1.0,41.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29832,29833,20000,1.0,2.0,2.0,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20090.0,1279.0,3000.0,6668.0,468.0,507.0,5582.0,0.0
29833,29834,20000,1.0,2.0,2.0,31.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19103.0,390.0,780.0,0.0,806.0,19103.0,1000.0,1.0

## Limpia los datos eliminando los registros nulos o rellena con la media de la columna

In [99]:
df.dropna(inplace=True)                     #Borra todas las filas que contienen nan
df.reset_index(drop=True, inplace=True)     #Resetea el indice por las filas que se borraron
df.shape

(29958, 25)

## Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión

In [43]:
df.describe

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,29997.000000,2.999700e+04,29997.000000,29997.000000,29997.000000,29997.000000,2.999700e+04,29997.0000,29997.000000,29997.000000,29997.000000,29997.000000
mean,14999.803847,167496.072274,1.603781,1.853076,1.551925,35.483862,-0.016770,-0.133836,-0.166556,-0.220888,-0.266435,-0.291232,51237.191210,49190.970555,4.702535e+04,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.6234,4827.252526,4800.297209,5216.259977,0.221189
std,8659.837419,129748.803871,0.489111,0.790316,0.521950,9.217346,1.123708,1.197087,1.195837,1.168964,1.132973,1.149844,73635.375988,71173.880387,6.934930e+04,64332.627970,60795.792438,59554.362815,16562.784500,2.304187e+04,17606.9550,15666.662390,15278.804216,17778.255642,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.0000,0.000000,0.000000,0.000000,0.000000
25%,7501.000000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3566.000000,2986.000000,2.671000e+03,2332.000000,1768.000000,1257.000000,1000.000000,8.360000e+02,390.0000,298.000000,254.000000,118.000000,0.000000
50%,15000.000000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22399.000000,21222.000000,2.010200e+04,19064.000000,18122.000000,17098.000000,2100.000000,2.010000e+03,1800.0000,1500.000000,1500.000000,1500.000000,0.000000
75%,22499.000000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67094.000000,64013.000000,6.016700e+04,54515.000000,50180.000000,49205.000000,5006.000000,5.000000e+03,4510.0000,4016.000000,4040.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.0000,621000.000000,426529.000000,528666.000000,1.000000

### Conteo de variables categoricas

Las varables categoricas desctitas en la informacion del encabezado son de X2 a X4.

In [123]:
df_categorical=df.iloc[:,2:5].astype('int64')         #Cambio de tipode variable por ser categorica, las separamos porque estas no las vamos a normalizar  
df_categorical.head()

   X2  X3  X4
0   2   2   1
1   2   2   2
2   2   2   2
3   2   2   1
4   1   2   1

In [121]:
ndf=df.drop(['ID','X2','X3','X4','Y'], axis=1)         
normalized_df=(ndf-ndf.mean())/ndf.std()
normalized_df

,X1,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,-1.137344,-1.246261,1.794612,1.782554,-0.696668,-0.666619,-1.530675,-1.486489,-0.642486,-0.647349,-0.667914,-0.672408,-0.663020,-0.652703,-0.341884,-0.227130,-0.296778,-0.308102,-0.314119,-0.293480
1,-0.366555,-1.029207,-0.874453,1.782554,0.139434,0.189238,0.235631,1.993883,-0.659194,-0.666685,-0.639190,-0.621573,-0.606219,-0.597973,-0.341884,-0.213642,-0.240015,-0.244311,-0.314119,-0.181051
2,-0.597792,-0.160993,0.015235,0.111948,0.139434,0.189238,0.235631,0.253697,-0.298733,-0.493932,-0.482428,-0.449755,-0.417270,-0.391739,-0.250266,-0.191955,-0.240015,-0.244311,-0.248698,-0.012407
3,-0.906107,0.164587,0.015235,0.111948,0.139434,0.189238,0.235631,0.253697,-0.057796,-0.013586,0.032552,-0.232508,-0.186926,-0.156806,-0.221175,-0.169445,-0.228663,-0.237932,-0.244184,-0.237265
4,-0.906107,2.335122,-0.874453,0.111948,-0.696668,0.189238,0.235631,0.253697,-0.578638,-0.611287,-0.161380,-0.347074,-0.348254,-0.331621,-0.221175,1.333939,0.270845,0.266016,-0.269044,-0.255310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29953,0.404233,0.381640,0.015235,0.111948,0.139434,0.189238,0.235631,0.253697,1.869019,2.016740,2.325172,0.694863,-0.149475,-0.384505,0.171128,0.610440,-0.012796,-0.113731,0.012987,-0.237265
29954,-0.135319,0.815747,-0.874453,-0.723355,-0.696668,-0.666619,0.235631,0.253697,-0.672754,-0.665239,-0.627372,-0.532906,-0.577695,-0.652703,-0.231013,-0.104082,0.213969,-0.299873,-0.314119,-0.293480
29955,-1.060265,0.164587,3.573989,2.617856,1.811639,-0.666619,0.235631,0.253697,-0.647209,-0.643782,-0.638095,-0.348038,-0.324646,-0.327828,-0.341884,-0.257014,0.951992,-0.040180,-0.183276,-0.119215
29956,-0.674871,0.598694,0.904923,-0.723355,0.139434,0.189238,0.235631,-0.616396,-0.717925,0.409746,0.421871,0.147514,-0.468120,0.168741,4.842552,-0.109157,-0.229912,-0.185241,3.150852,-0.192069
29957,-0.906107,1.141328,0.015235,0.111948,0.139434,0.189238,0.235631,0.253697,-0.045051,-0.004150,0.039369,-0.104783,-0.129894,-0.395700,-0.216468,-0.178943,-0.215607,-0.244311,-0.248698,-0.237265

In [12]:
df.select_dtypes(include=['object']).columns.tolist()

[]

In [124]:
df.iloc[0:,1:24].corr()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
X1,1.000000,0.024212,-0.219120,-0.107801,0.144515,-0.271201,-0.296206,-0.286245,-0.267371,-0.249340,-0.235183,0.285616,0.278435,0.283373,0.294090,0.295625,0.290517,0.195026,0.178320,0.210052,0.203187,0.216990,0.219567
X2,0.024212,1.000000,0.014701,-0.031478,-0.091259,-0.057637,-0.070690,-0.065648,-0.059586,-0.054319,-0.043291,-0.033696,-0.031215,-0.024588,-0.021854,-0.017056,-0.016733,-0.000297,-0.001517,-0.008630,-0.002369,-0.001775,-0.002911
X3,-0.219120,0.014701,1.000000,-0.143431,0.175079,0.105636,0.121632,0.114012,0.108640,0.097220,0.082077,0.023451,0.018669,0.012913,-0.000566,-0.007625,-0.009192,-0.037385,-0.030007,-0.039953,-0.038263,-0.040276,-0.037189
X4,-0.107801,-0.031478,-0.143431,1.000000,-0.413926,0.019747,0.024052,0.032430,0.032826,0.035360,0.034191,-0.023430,-0.021536,-0.024876,-0.023292,-0.025371,-0.021206,-0.005705,-0.008016,-0.003399,-0.012516,-0.001052,-0.006571
X5,0.144515,-0.091259,0.175079,-0.413926,1.000000,-0.039432,-0.050154,-0.053249,-0.049865,-0.054006,-0.048821,0.056357,0.054469,0.053911,0.051528,0.049515,0.047810,0.025995,0.021820,0.029262,0.021338,0.022811,0.019533
X6,-0.271201,-0.057637,0.105636,0.019747,-0.039432,1.000000,0.672290,0.574706,0.539384,0.509783,0.474809,0.187115,0.189906,0.179796,0.179138,0.180651,0.176992,-0.079230,-0.070083,-0.070460,-0.063934,-0.058104,-0.058616
X7,-0.296206,-0.070690,0.121632,0.024052,-0.050154,0.672290,1.000000,0.766857,0.662429,0.622990,0.575434,0.234878,0.235227,0.224105,0.222216,0.221287,0.219339,-0.080771,-0.058981,-0.055864,-0.046856,-0.037049,-0.036491
X8,-0.286245,-0.065648,0.114012,0.032430,-0.053249,0.574706,0.766857,1.000000,0.777245,0.686447,0.632396,0.208843,0.237642,0.227827,0.227518,0.225453,0.222608,0.001210,-0.066784,-0.053294,-0.046001,-0.035813,-0.035816
X9,-0.267371,-0.059586,0.108640,0.032826,-0.049865,0.539384,0.662429,0.777245,1.000000,0.819655,0.716278,0.203124,0.226103,0.245260,0.246180,0.243161,0.239379,-0.009475,-0.001893,-0.069260,-0.043421,-0.033630,-0.026537
X10,-0.249340,-0.054319,0.097220,0.035360,-0.054006,0.509783,0.622990,0.686447,0.819655,1.000000,0.816660,0.206904,0.227092,0.243496,0.272062,0.269916,0.262614,-0.006199,-0.003139,0.009061,-0.058267,-0.033325,-0.022982
X11,-0.235183,-0.043291,0.082077,0.034191,-0.048821,0.474809,0.575434,0.632396,0.716278,0.816660,1.000000,0.207449,0.226964,0.241210,0.266387,0.290901,0.285095,-0.001603,-0.005191,0.005801,0.019109,-0.046474,-0.025285
X12,0.285616,-0.033696,0.023451,-0.023430,0.056357,0.187115,0.234878,0.208843,0.203124,0.206904,0.207449,1.000000,0.951494,0.892272,0.860273,0.829781,0.802638,0.140276,0.099301,0.156856,0.158260,0.167010,0.179287
X13,0.278435,-0.031215,0.018669,-0.021536,0.054469,0.189906,0.235227,0.237642,0.226103,0.227092,0.226964,0.951494,1.000000,0.928306,0.892456,0.859756,0.831570,0.280323,0.100770,0.150631,0.147338,0.157848,0.174180
X14,0.283373,-0.024588,0.012913,-0.024876,0.053911,0.179796,0.224105,0.227827,0.245260,0.243496,0.241210,0.892272,0.928306,1.000000,0.923953,0.883893,0.853302,0.244291,0.316904,0.129933,0.143343,0.179617,0.182257
X15,0.294090,-0.021854,-0.000566,-0.023292,0.051528,0.179138,0.222216,0.227518,0.246180,0.272062,0.266387,0.860273,0.892456,0.923953,1.000000,0.940133,0.900931,0.232916,0.207498,0.299953,0.130124,0.160283,0.177562
X16,0.295625,-0.017056,-0.007625,-0.025371,0.049515,0.180651,0.221287,0.225453,0.243161,0.269916,0.290901,0.829781,0.859756,0.883893,0.940133,1.000000,0.946187,0.216967,0.181177,0.252229,0.293084,0.141421,0.164102
X17,0.290517,-0.016733,-0.009192,-0.021206,0.047810,0.176992,0.219339,0.222608,0.239379,0.262614,0.285095,0.802638,0.831570,0.853302,0.900931,0.946187,1.000000,0.199966,0.172615,0.233710,0.250218,0.307691,0.115415
X18,0.195026,-0.000297,-0.037385,-0.005705,0.025995,-0.079230,-0.080771,0.001210,-0.009475,-0.006199,-0.001603,0.140276,0.280323,0.244291,0.232916,0.216967,0.199966,1.000000,0.285522,0.252063,0.199491,0.148102,0.185659
X19,0.178320,-0.001517,-0.030007,-0.008016,0.021820,-0.070083,-0.058981,-0.066784,-0.001893,-0.003139,-0.005191,0.099301,0.100770,0.316904,0.207498,0.181177,0.172615,0.285522,1.000000,0.244709,0.180043,0.180800,0.157563
X20,0.210052,-0.008630,-0.039953,-0.003399,0.029262,-0.070460,-0.055864,-0.053294,-0.069260,0.009061,0.005801,0.156856,0.150631,0.129933,0.299953,0.252229,0.233710,0.252063,0.244709,1.000000,0.216281,0.159028,0.162667
X21,0.203187,-0.002369,-0.038263,-0.012516,0.021338,-0.063934,-0.046856,-0.046001,-0.043421,-0.058267,0.019109,0.158260,0.147338,0.143343,0.130124,0.293084,0.250218,0.199491,0.180043,0.216281,1.000000,0.151733,0.157762
X22,0.216990,-0.001775,-0.040276,-0.001052,0.022811,-0.058104,-0.037049,-0.035813,-0.033630,-0.033325,-0.046474,0.167010,0.157848,0.179617,0.160283,0.141421,0.307691,0.148102,0.180800,0.159028,0.151733,1.000000,0.154790
X23,0.219567,-0.002911,-0.037189,-0.006571,0.019533,-0.058616,-0.036491,-0.035816,-0.026537,-0.022982,-0.025285,0.179287,0.174180,0.182257,0.177562,0.164102,0.115415,0.185659,0.157563,0.162667,0.157762,0.154790,1.000000