<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JSOrtegaB/blob/main/Actividad_Semanal_6_Visualizacion_JuanSebastianOrtegaBriones_A01794327.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad Semanal 6, visualización

## Ciencia y analítica de datos

### Profesor:  María de la Paz Rico Fernández

###Juan Sebastian Ortega Briones A01794327

Se importan las dependencias

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import array as arr
from sklearn import preprocessing
from sklearn.decomposition import PCA
%matplotlib inline

Se lee el archivo de datos

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv")

### Obten la información del DataFrame con los métodos y propiedades: shape, columns, head(), dtypes, info(), isna()

[Descripción de los datos](https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt)

In [4]:
pd.set_option("display.max_columns", 25)
df.head(5)

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0

In [5]:
df.shape

(30000, 25)

In [6]:
df.columns

Index(['ID', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10',
       'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19', 'X20',
       'X21', 'X22', 'X23', 'Y'],
      dtype='object')

In [7]:
df.dtypes

ID       int64
X1       int64
X2     float64
X3     float64
X4     float64
X5     float64
X6     float64
X7     float64
X8     float64
X9     float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23    float64
Y      float64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      30000 non-null  int64
 1   X1      30000 non-null  int64
 2   X2      29999 non-null  float64
 3   X3      29998 non-null  float64
 4   X4      29998 non-null  float64
 5   X5      29995 non-null  float64
 6   X6      29997 non-null  float64
 7   X7      29995 non-null  float64
 8   X8      29993 non-null  float64
 9   X9      29991 non-null  float64
 10  X10     29984 non-null  float64
 11  X11     29986 non-null  float64
 12  X12     29989 non-null  float64
 13  X13     29989 non-null  float64
 14  X14     29987 non-null  float64
 15  X15     29985 non-null  float64
 16  X16     29983 non-null  float64
 17  X17     29990 non-null  float64
 18  X18     29992 non-null  float64
 19  X19     29991 non-null  float64
 20  X20     29992 non-null  float64
 21  X21     29989 non-null  float64
 22  X22     29989 non-null  float64
 23  X23     29995 non-null  float64
 24  Y       29997 non-null  float64
dtypes: float64(23), int64(2)
memory usage: 5.7 MB

In [9]:
df[df.isna().any(axis=1)].head()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
18,19,360000,2.0,1.0,1.0,49.0,1.0,-2.0,-2.0,-2.0,-2.0,-2.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0
38,39,50000,1.0,1.0,2.0,25.0,1.0,-1.0,-1.0,-2.0,-2.0,-2.0,0.0,780.0,0.0,0.0,0.0,NaN,780.0,0.0,0.0,0.0,0.0,0.0,1.0
49,50,20000,1.0,1.0,2.0,24.0,0.0,0.0,0.0,0.0,NaN,0.0,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,1318.0,1315.0,704.0,928.0,912.0,1069.0,0.0
64,65,130000,2.0,2.0,1.0,51.0,-1.0,-1.0,-2.0,-2.0,-1.0,-1.0,99.0,0.0,0.0,0.0,2353.0,0.0,0.0,NaN,0.0,2353.0,0.0,0.0,0.0
160,161,30000,1.0,1.0,2.0,41.0,2.0,2.0,2.0,NaN,2.0,0.0,24357.0,27453.0,26718.0,28168.0,27579.0,28321.0,3500.0,0.0,2200.0,NaN,1200.0,1250.0,0.0

### Limpia los datos eliminando los registros nulos o rellena con la media de la columna

In [10]:
df.dropna(inplace=True)                     #Al ser pocas filas que contienen datos nulos voy a borrar todas las filas que contienen nan
df.reset_index(drop=True, inplace=True)     #Resetea el indice por las filas que se borraron
df.shape

(29958, 25)

### Calcula la estadística descriptiva con describe() y explica las medidas de tendencia central y dispersión

In [11]:
ndf=df.loc[:,'X12':'X23']
ndf.insert(0, 'X5',df.X5)
ndf
ndf.describe().round(2)  # Estadísticas de variables no categoricas

,X5,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
count,29958.00,29958.00,29958.00,29958.00,29958.00,29958.00,29958.00,29958.00,29958.00,29958.00,29958.00,29958.00,29958.00
mean,35.48,51248.12,49200.49,47032.39,43279.34,40328.98,38889.93,5664.61,5925.72,5228.43,4829.87,4801.48,5220.71
std,9.21,73674.95,71211.23,69385.24,64364.68,60826.22,59582.88,16568.82,23055.98,17617.34,15676.21,15285.55,17788.98
min,21.00,-165580.00,-69777.00,-157264.00,-170000.00,-81334.00,-339603.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,28.00,3559.25,2984.00,2664.75,2327.50,1762.25,1256.00,1000.00,835.25,390.00,296.25,253.25,118.00
50%,34.00,22379.00,21194.50,20085.50,19037.50,18104.50,17067.50,2100.00,2009.00,1800.00,1500.00,1500.00,1500.00
75%,41.00,67190.00,64027.75,60183.00,54551.25,50220.75,49234.75,5007.00,5000.00,4511.50,4014.75,4040.00,4000.00
max,79.00,964511.00,983931.00,1664089.00,891586.00,927171.00,961664.00,873552.00,1684259.00,896040.00,621000.00,426529.00,528666.00

X5 (Edad): Está dispersa con una media de 35 años en todo el rango aunque esta más inclinada al lado izquierdo en el cuarto cuartíl.
X6-X11 (historial de pago):

X12 a X17 (Monto del saldo historico de 6 meses):  en notorio que la tendencia central baja con respecto al tiempo, la dispersión es alta para los saldos

X18 a X23 (pago historico de 6 meses):  la tendencia central en el pago mensual es constante con gran dispersión

X6 al X11 (historial de pagos de 6 meses) al ser categóricas, hago un conteo de los valores en grupos para entender mejor el comportamiento, no muestran cambios importantes a lo largo del tiempo   (este analisis viene del conteo de variables categóricas, abajo)

### Conteo de variables categóricas

In [12]:
group_names = ['Sin Atrasos', 'Poco Atraso', 'Mucho Atraso']
bins = [-2,1,4,8]  
dfX6=pd.cut(df.X6, bins, labels=group_names, include_lowest=True )
dfX7=pd.cut(df.X7, bins, labels=group_names, include_lowest=True )
dfX8=pd.cut(df.X8, bins, labels=group_names, include_lowest=True )
dfX9=pd.cut(df.X9, bins, labels=group_names, include_lowest=True )
dfX10=pd.cut(df.X10, bins, labels=group_names, include_lowest=True )
dfX11=pd.cut(df.X11, bins, labels=group_names, include_lowest=True )


print(dfX6.value_counts(sort=True, normalize=True))
print(dfX7.value_counts(sort=True, normalize=True))
print(dfX8.value_counts(sort=True, normalize=True))
print(dfX9.value_counts(sort=True, normalize=True))
print(dfX10.value_counts(sort=True, normalize=True))
print(dfX11.value_counts(sort=True, normalize=True))

Sin Atrasos     0.895687
Poco Atraso     0.102143
Mucho Atraso    0.002170
Name: X6, dtype: float64
Sin Atrasos     0.853094
Poco Atraso     0.144970
Mucho Atraso    0.001936
Name: X7, dtype: float64
Sin Atrasos     0.859804
Poco Atraso     0.137760
Mucho Atraso    0.002437
Name: X8, dtype: float64
Sin Atrasos     0.883136
Poco Atraso     0.113559
Mucho Atraso    0.003305
Name: X9, dtype: float64
Sin Atrasos     0.901228
Poco Atraso     0.096135
Mucho Atraso    0.002637
Name: X10, dtype: float64
Sin Atrasos     0.897490
Poco Atraso     0.099873
Mucho Atraso    0.002637
Name: X11, dtype: float64

Las varables categoricas desctitas en la informacion del encabezado son de X2 a X4.

In [191]:
genero_dic={1:"Hombre", 2:"Mujer"}
df_categorical=df.iloc[:,2:5].astype('int64')         #Cambio de tipode variable por ser categorica, las separamos porque estas no las vamos a normalizar  
df_categorical['X2'].value_counts().rename(index=genero_dic)

Mujer     18095
Hombre    11863
Name: X2, dtype: int64

In [194]:
educacion_dic={1:"graduado", 2:"universidad", 3:"preparatoria", 4:"otro"}
df_categorical['X3'].value_counts().rename(index=educacion_dic)

universidad     14009
graduado        10572
preparatoria     4909
5                 280
otro              123
6                  51
0                  14
Name: X3, dtype: int64

In [195]:
estado_civil_dic={1:"casado", 2:"soltero", 3:"otro"}
df_categorical['X4'].value_counts().rename(index=estado_civil_dic)

soltero    15939
casado     13643
otro         322
0             54
Name: X4, dtype: int64

### Normalizando los datos

In [201]:

pndf=df.drop(['ID','Y'], axis=1)
x = pndf.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
normalized=pd.DataFrame(x_scaled)
normalized.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,0.010101,1.0,0.333333,0.333333,0.051724,0.4,0.4,0.1,0.1,0.0,0.0,0.149982,0.069164,0.086723,0.160138,0.080648,0.260979,0.000000,0.000409,0.000000,0.000000,0.000000,0.000000
1,0.111111,1.0,0.333333,0.666667,0.086207,0.1,0.4,0.2,0.2,0.2,0.4,0.148892,0.067858,0.087817,0.163220,0.084074,0.263485,0.000000,0.000594,0.001116,0.001610,0.000000,0.003783
2,0.080808,1.0,0.333333,0.666667,0.224138,0.2,0.2,0.2,0.2,0.2,0.2,0.172392,0.079532,0.093789,0.173637,0.095470,0.272928,0.001738,0.000891,0.001116,0.001610,0.002345,0.009458
3,0.040404,1.0,0.333333,0.333333,0.275862,0.2,0.2,0.2,0.2,0.2,0.2,0.188100,0.111995,0.113407,0.186809,0.109363,0.283685,0.002290,0.001199,0.001339,0.001771,0.002506,0.001892
4,0.040404,0.0,0.333333,0.333333,0.620690,0.1,0.2,0.1,0.2,0.2,0.2,0.154144,0.071601,0.106020,0.179863,0.099633,0.275681,0.002290,0.021779,0.011160,0.014493,0.001615,0.001284

### Reduciendo las dimenciones

In [ ]:
df.select_dtypes(include=['object']).columns.tolist()

[]

In [ ]:
df.iloc[0:,1:24].corr()

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
X1,1.000000,0.024212,-0.219120,-0.107801,0.144515,-0.271201,-0.296206,-0.286245,-0.267371,-0.249340,-0.235183,0.285616,0.278435,0.283373,0.294090,0.295625,0.290517,0.195026,0.178320,0.210052,0.203187,0.216990,0.219567
X2,0.024212,1.000000,0.014701,-0.031478,-0.091259,-0.057637,-0.070690,-0.065648,-0.059586,-0.054319,-0.043291,-0.033696,-0.031215,-0.024588,-0.021854,-0.017056,-0.016733,-0.000297,-0.001517,-0.008630,-0.002369,-0.001775,-0.002911
X3,-0.219120,0.014701,1.000000,-0.143431,0.175079,0.105636,0.121632,0.114012,0.108640,0.097220,0.082077,0.023451,0.018669,0.012913,-0.000566,-0.007625,-0.009192,-0.037385,-0.030007,-0.039953,-0.038263,-0.040276,-0.037189
X4,-0.107801,-0.031478,-0.143431,1.000000,-0.413926,0.019747,0.024052,0.032430,0.032826,0.035360,0.034191,-0.023430,-0.021536,-0.024876,-0.023292,-0.025371,-0.021206,-0.005705,-0.008016,-0.003399,-0.012516,-0.001052,-0.006571
X5,0.144515,-0.091259,0.175079,-0.413926,1.000000,-0.039432,-0.050154,-0.053249,-0.049865,-0.054006,-0.048821,0.056357,0.054469,0.053911,0.051528,0.049515,0.047810,0.025995,0.021820,0.029262,0.021338,0.022811,0.019533
X6,-0.271201,-0.057637,0.105636,0.019747,-0.039432,1.000000,0.672290,0.574706,0.539384,0.509783,0.474809,0.187115,0.189906,0.179796,0.179138,0.180651,0.176992,-0.079230,-0.070083,-0.070460,-0.063934,-0.058104,-0.058616
X7,-0.296206,-0.070690,0.121632,0.024052,-0.050154,0.672290,1.000000,0.766857,0.662429,0.622990,0.575434,0.234878,0.235227,0.224105,0.222216,0.221287,0.219339,-0.080771,-0.058981,-0.055864,-0.046856,-0.037049,-0.036491
X8,-0.286245,-0.065648,0.114012,0.032430,-0.053249,0.574706,0.766857,1.000000,0.777245,0.686447,0.632396,0.208843,0.237642,0.227827,0.227518,0.225453,0.222608,0.001210,-0.066784,-0.053294,-0.046001,-0.035813,-0.035816
X9,-0.267371,-0.059586,0.108640,0.032826,-0.049865,0.539384,0.662429,0.777245,1.000000,0.819655,0.716278,0.203124,0.226103,0.245260,0.246180,0.243161,0.239379,-0.009475,-0.001893,-0.069260,-0.043421,-0.033630,-0.026537
X10,-0.249340,-0.054319,0.097220,0.035360,-0.054006,0.509783,0.622990,0.686447,0.819655,1.000000,0.816660,0.206904,0.227092,0.243496,0.272062,0.269916,0.262614,-0.006199,-0.003139,0.009061,-0.058267,-0.033325,-0.022982
X11,-0.235183,-0.043291,0.082077,0.034191,-0.048821,0.474809,0.575434,0.632396,0.716278,0.816660,1.000000,0.207449,0.226964,0.241210,0.266387,0.290901,0.285095,-0.001603,-0.005191,0.005801,0.019109,-0.046474,-0.025285
X12,0.285616,-0.033696,0.023451,-0.023430,0.056357,0.187115,0.234878,0.208843,0.203124,0.206904,0.207449,1.000000,0.951494,0.892272,0.860273,0.829781,0.802638,0.140276,0.099301,0.156856,0.158260,0.167010,0.179287
X13,0.278435,-0.031215,0.018669,-0.021536,0.054469,0.189906,0.235227,0.237642,0.226103,0.227092,0.226964,0.951494,1.000000,0.928306,0.892456,0.859756,0.831570,0.280323,0.100770,0.150631,0.147338,0.157848,0.174180
X14,0.283373,-0.024588,0.012913,-0.024876,0.053911,0.179796,0.224105,0.227827,0.245260,0.243496,0.241210,0.892272,0.928306,1.000000,0.923953,0.883893,0.853302,0.244291,0.316904,0.129933,0.143343,0.179617,0.182257
X15,0.294090,-0.021854,-0.000566,-0.023292,0.051528,0.179138,0.222216,0.227518,0.246180,0.272062,0.266387,0.860273,0.892456,0.923953,1.000000,0.940133,0.900931,0.232916,0.207498,0.299953,0.130124,0.160283,0.177562
X16,0.295625,-0.017056,-0.007625,-0.025371,0.049515,0.180651,0.221287,0.225453,0.243161,0.269916,0.290901,0.829781,0.859756,0.883893,0.940133,1.000000,0.946187,0.216967,0.181177,0.252229,0.293084,0.141421,0.164102
X17,0.290517,-0.016733,-0.009192,-0.021206,0.047810,0.176992,0.219339,0.222608,0.239379,0.262614,0.285095,0.802638,0.831570,0.853302,0.900931,0.946187,1.000000,0.199966,0.172615,0.233710,0.250218,0.307691,0.115415
X18,0.195026,-0.000297,-0.037385,-0.005705,0.025995,-0.079230,-0.080771,0.001210,-0.009475,-0.006199,-0.001603,0.140276,0.280323,0.244291,0.232916,0.216967,0.199966,1.000000,0.285522,0.252063,0.199491,0.148102,0.185659
X19,0.178320,-0.001517,-0.030007,-0.008016,0.021820,-0.070083,-0.058981,-0.066784,-0.001893,-0.003139,-0.005191,0.099301,0.100770,0.316904,0.207498,0.181177,0.172615,0.285522,1.000000,0.244709,0.180043,0.180800,0.157563
X20,0.210052,-0.008630,-0.039953,-0.003399,0.029262,-0.070460,-0.055864,-0.053294,-0.069260,0.009061,0.005801,0.156856,0.150631,0.129933,0.299953,0.252229,0.233710,0.252063,0.244709,1.000000,0.216281,0.159028,0.162667
X21,0.203187,-0.002369,-0.038263,-0.012516,0.021338,-0.063934,-0.046856,-0.046001,-0.043421,-0.058267,0.019109,0.158260,0.147338,0.143343,0.130124,0.293084,0.250218,0.199491,0.180043,0.216281,1.000000,0.151733,0.157762
X22,0.216990,-0.001775,-0.040276,-0.001052,0.022811,-0.058104,-0.037049,-0.035813,-0.033630,-0.033325,-0.046474,0.167010,0.157848,0.179617,0.160283,0.141421,0.307691,0.148102,0.180800,0.159028,0.151733,1.000000,0.154790
X23,0.219567,-0.002911,-0.037189,-0.006571,0.019533,-0.058616,-0.036491,-0.035816,-0.026537,-0.022982,-0.025285,0.179287,0.174180,0.182257,0.177562,0.164102,0.115415,0.185659,0.157563,0.162667,0.157762,0.154790,1.000000