<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JSOrtegaB/blob/main/Actividad_Semana3_JuanSebastianOrtegaBriones_A01794327.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Actividad 1, Semana 3 

## Ciencia y analítica de datos

### Profesor:  Jobish Vallikavungal Devassia 

###Juan Sebastian Ortega Briones A01794327

# Parte 1: Fundamentos de bases de datos

Revisa la página Lecturas del tema 3: Conceptos de almacenamiento y recuperación de información, y describe tus insights o entendimiento de cada uno de los subtemas: (Alrededor de 200 palabras)

Fundamentos de bases de datos y para ciencia de datos.  
Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

### Fundamentos de bases de datos y para ciencia de datos.

-Los fundamentos de las bases de datos y la ciencia de datos se centran en el almacenamiento, el procesamiento y el análisis de datos.
-Las bases de datos se centran en el almacenamiento y el procesamiento de datos, mientras que la ciencia de datos se centra en el análisis de datos.

El flujo de trabajo del científico de datos es: 

Definir el problema -> Recolectar los datos y prepararlos -> Desarrollar el modelo -> Desplegar el modelo -> mejorar el desempeño.

La mayor parte del trabajo del científico de datos es limpiar y organizar la información.

La terminología de las bases de datos es importante tenerla clara para poder explicar sin equivocaciones a que nos referimos.

El científico de datos debe tener claridad de pensamiento y comunicación.

Una base de datos es una colección de datos organizados y relacionados que modela un sistema del mundo real.

Un DBMS (Database Management system), es usado para administrar el acceso a los usuarios de la base de datos.

El DML o Lenguage de manipulación de datos o SQL Structure Query Langiuage son usados para consultar las bases de datos.


### Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.

Un Data Warehouse es una colección en una sola ubicación de todos los datos relevantes para el análisis de una empresa. Los datos se agrupan de tal forma que pueden analizarse de forma eficiente para responder a las preguntas comerciales.

# Parte 2

Se importan las dependencias

In [31]:
import pandas as pd
import numpy as np

Se lee el archivo de datos

In [32]:
df=pd.read_csv("https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv")

[Descripción de los datos](https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/dataset_info.txt)

In [33]:
pd.set_option("display.max_columns", 25)
df.head(3)

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0

Informacion básica

In [34]:
df.describe()

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
count,30000.000000,30000.000000,29999.000000,29998.000000,29998.000000,29995.000000,29997.000000,29995.000000,29993.000000,29991.000000,29984.000000,29986.000000,29989.000000,29989.000000,2.998700e+04,29985.000000,29983.000000,29990.000000,29992.000000,2.999100e+04,29992.000000,29989.000000,29989.000000,29995.000000,29997.000000
mean,15000.500000,167484.322667,1.603753,1.853057,1.551903,35.484214,-0.016635,-0.133689,-0.166405,-0.220800,-0.266342,-0.291136,51236.862750,49190.734669,4.702535e+04,43275.652326,40324.493980,38881.135745,5662.945886,5.922489e+03,5225.623400,4827.252526,4800.297209,5216.259977,0.221189
std,8660.398374,129747.661567,0.489125,0.790320,0.521968,9.218024,1.123829,1.197254,1.196048,1.169153,1.133296,1.150134,73645.219278,71183.385123,6.936086e+04,64345.500073,60809.984983,59561.312967,16564.165089,2.304418e+04,17608.422625,15668.751975,15280.842069,17778.848359,0.415054
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3565.000000,2986.000000,2.667500e+03,2329.000000,1763.500000,1256.250000,1000.000000,8.355000e+02,390.000000,296.000000,251.000000,118.000000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22387.000000,21207.000000,2.008900e+04,19052.000000,18107.000000,17081.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67139.000000,64027.000000,6.018200e+04,54560.000000,50213.000000,49208.250000,5006.000000,5.000000e+03,4505.500000,4014.000000,4033.000000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

Faltan datos?

In [35]:
df.isnull().any()

ID     False
X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [36]:
df.isnull().values.any()

True

# Mi propuesta

### Con base en la descripcion de los datos esta es mi estrategia:

ID: No hacer nada

X1: No hacer nada

X2: Si falta el genero sustituirlo por el mas frecuente

X3: Si falta educación sustituirlo por el promedio redondeado

X4: Si falta estado civil sustituirlo por el mas frecuente

X5: Si falta edad sustituirla con el promedio

X6-X11:  Si no hay más de 3 datos eliminar el registro

X12-X17: Si no hay más de 3 datos eliminar el registro 

X18-X23: Si no hay más de 3 datos eliminar el registro 

Y:       No hacer nada

## X2

El mas frecuente de X2:

In [37]:
x2_frec=pd.DataFrame(df.X2.value_counts()).index[0]

¿Cunatos registros no tienen información de género?

In [38]:
df['X2'].isnull().value_counts()

False    29999
True         1
Name: X2, dtype: int64

Sustituye los campos de género faltantes por el mas frecuente

In [39]:

df['X2'].fillna(value=x2_frec, inplace=True)          #remplaza los nulos de la columana de sexo por la mas frecuente de la columna
df['X2'].isnull().value_counts()                      #muestra las columnas cambiadas

False    30000
Name: X2, dtype: int64

## X3

Número de registros que no tienen infomación de la educación

In [40]:
df['X3'].isnull().value_counts()

False    29998
True         2
Name: X3, dtype: int64

Promedio de educación

In [41]:
x3_mean=df.X3.mean().round()                          #Promedio redondeado de la educación
x3_mean

2.0

Sustituye los campos de educación faltantes por el promedio redondeado

In [42]:
df['X3'].fillna(value=x3_mean, inplace=True)          #remplaza los nulos de la columana de educación por el promedio redondeado
df['X2'].isnull().value_counts()                      #muestra las columnas cambiadas

False    30000
Name: X2, dtype: int64

## X4

Número de registros que no tienen infomación de la estado civíl

In [43]:
df['X4'].isnull().value_counts()

False    29998
True         2
Name: X4, dtype: int64

El mas frecuente del X4

In [44]:
x4_frec=pd.DataFrame(df.X4.value_counts()).index[0]                 #Calcula el numero mas frecuente de la columna
x4_frec

2.0

Sustituye los campos de estado civíl faltantes por el mas frecuente

In [45]:

df['X4'].fillna(value=x4_frec, inplace=True)          #remplaza los nulos de la columana de estado civíl por el mas frecuente de la columna
df['X4'].isnull().value_counts()                      #muestra las columnas cambiadas

False    30000
Name: X4, dtype: int64

## X5

Número de registros que no tienen infomación de edad

In [46]:
df['X5'].isnull().value_counts()

False    29995
True         5
Name: X5, dtype: int64

Promedio de edad

In [47]:
x5_mean=df.X5.mean().round()                      #calcula el promedio redondeado
x5_mean

35.0

Sustituye los campos de edad faltantes por el promedio

In [48]:

df['X5'].fillna(value=x5_mean, inplace=True)          #remplaza los nulos de la columana de edad por el promedio de la columna
df['X5'].isnull().value_counts()                      #muestra las columnas cambiadas

False    30000
Name: X5, dtype: int64

## X6-X11

Número de registros que tienen mas de 3 nulos en las columnas de X6 a X11

In [49]:
df[['X6','X7','X8','X9','X10','X11']].isnull().value_counts()     #número de registros con nulls en las columnas X6-X11
#df[df[['X6','X7','X8','X9','X10','X11']].isnull().any(axis=1)]   #muestra los datos de las columnas del X6 al X11 con nulos

X6     X7     X8     X9     X10    X11
False  False  False  False  False  False    29978
                            True   True         9
                     True   False  False        4
True   True   True   True   True   True         3
False  False  False  False  True   False        2
              True   False  False  False        2
       True   True   True   True   True         2
dtype: int64

Eliminar las columnas que no tienen al menos 3 campos en X6-X11

In [50]:
print("Tamano original",df.shape)                                               #tamano de los datos antes de borrar na's
df.dropna(thresh=3, subset=['X6','X7','X8','X9','X10','X11'], inplace=True)     #borra las filas donde hay menos de 3 valores por fila
print("Tamano después borrar",df.shape)                                         #Tamano del DataFrame después

Tamano original (30000, 25)
Tamano después borrar (29995, 25)

## X12-X17

Número de registros que tienen mas de 3 nulos en las columnas de X12 a X17

In [51]:
df[['X12','X13','X14','X15','X16','X17']].isnull().value_counts()     #número de registros con nulls en las columnas X12-X17

X12    X13    X14    X15    X16    X17
False  False  False  False  False  False    29981
True   True   True   True   True   True         6
False  False  False  True   True   False        3
                     False  True   False        2
                            False  True         1
              True   False  False  False        1
                     True   True   True         1
dtype: int64

Elimina las columnas que no tienen al menos 3 campos el X12-X17

In [52]:
print("Tamano original",df.shape)                                                   #tamano de los datos antes de borrar na's
df.dropna(thresh=3, subset=['X12','X13','X14','X15','X16','X17'], inplace=True)     #borra las filas donde hay menos de 3 valores por fila
print("Tamano después borrar",df.shape)                                             #Tamano del DataFrame después

Tamano original (29995, 25)
Tamano después borrar (29988, 25)

## X18-X23

Número de registros que tienen mas de 3 nulos en las columnas de X18 a X23

In [53]:
df[['X18','X19','X20','X21','X22','X23']].isnull().value_counts()     #número de registros con nulls en las columnas X12-X17

X18    X19    X20    X21    X22    X23
False  False  False  False  False  False    29981
                     True   False  False        2
                     False  False  True         1
                            True   False        1
                                   True         1
                     True   True   False        1
       True   False  False  False  False        1
dtype: int64

Elimina las columnas que no tienen al menos 3 campos el X18-X23

In [54]:
print("Tamano original",df.shape)                                                   #tamano de los datos antes de borrar na's
df.dropna(thresh=3, subset=['X18','X19','X20','X21','X22','X23'], inplace=True)     #borra las filas donde hay menos de 3 valores por fila
print("Tamano después borrar",df.shape)                                             #Tamano del DataFrame después

Tamano original (29988, 25)
Tamano después borrar (29988, 25)

En este punto la BD esta limpia y lista para ser procesada

In [55]:
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,-2.0,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,2.0,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,0.0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,0.0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,188948.0,192815.0,208365.0,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,1683.0,1828.0,3502.0,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,0.0,3565.0,3356.0,2758.0,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,-1.0,-1645.0,78379.0,76304.0,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,0.0,47929.0,48905.0,49764.0,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

# Parte 3: Preparación de los datos



1.   **¿Qué datos considero mas importantes? ¿Por qué?**

      Las columnas de historial de pago me parecen los datos mas importantes de estos datos, si no contamos con al menos tres meses de esta información creo que es muy difícil poder modelar o calificar al cliente.


2.   **¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**

      Se eliminaron todos los registros que no incluyen más de tres meses de historial porque no sirven para calificar al cliente. Asi como los registros de pagos historicos y montos de los pagos historicos, tambien se eliminan si no existen al menos 3 de cada uno.
      Para el caso de edad y educación se sustituyeron los datos faltantes por promedio de sus respectivas columnas, para el caso de estado civíl y genero se sustituyeron por la frecuencia esto debido que son muy pocos los registros que tienen datos faltantes de este tipo y a que no creo que tengan un peso muy importante en la decición de la calificación del cliente.

3.   **¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**

      En este caso en particular creo que es importante que las columnas esten ordenadas porque algunas represantan periodos o fechas, en el caso de las filas no lo creo que sea importante porque no hay alguna medida o proceso que lo requiera. 

4.   **Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**

      En este caso en particular no detecto problemas de formato, todas las columnas estan estandarizadas en sus datos, pero creo que es muy importante solucionar esto en caso de existir, porque se necesita que todos los datos esten estandarizados para poder aplicar los procesos que se requieran para su modelado. Si no se estandariza es posible que al aplicar las fuciones de modelado se generen errores. Si por ejemplo las funcioes de modelado reuieren datos de tipo flotente y encuentrn un dato de cadena lo mas seguro es que genere error. 

5.   **¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**

      Se sustituyeron valores faltantes por frecuencias, promedios y se borraron registros que no tenian suficiente informacion para poder modelar con los datos que incluian.

    Este es el detalle: 

    ID: No hacer nada, esta columna solo identifica al usuario y no tiene faltantes 

    X1: No hacer nada, esta columna no tiene faltantes y esta estandarizada

    X2: Si falta el genero sustituirlo por el mas frecuente

    X3: Si falta educación sustituirlo por el promedio redondeado

    X4: Si falta estado civil sustituirlo por el mas frecuente

    X5: Si falta la edad sustituirla con el promedio de edad de la columna

    X6-X11: Si no hay más de 3 datos eliminar el registro

    X12-X17: Si no hay más de 3 datos eliminar el registro

    X18-X23: Si no hay más de 3 datos eliminar el registro

    Y: No hacer nada

Evidencias